.course-content {
    width: 100%;
    margin: 0;
    margin-left: 10px;
  }
  
  .lesson {
    margin-bottom: 20px;
  }
  
  .lesson h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-left: 0;
  }
  
  .lesson ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .lesson li {
    margin-bottom: 8px;
  }
  
  .ant-divider {
  }
  